
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  	
  <div class="field" >
  	<%= f.select :ipc, options_for_select([["Select One", ""], "Abram (Ser)", "America (BYNC)"]) %>
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <span class="countdown"></span>
  <%= f.submit "Post", class: "btn btn-large btn-primary", data: { confirm: 'This message will be sent now. Are you sure?' } %>
<% end %>