<li>
  <span class="ipc">IPC: <%= micropost.ipc %>  </span>
  <span class="langpref">Language Preference:  <%= micropost.langpref %></span>
  <span class="successes">Total Sent: <%= micropost.successCount %>  Success IDs: <%= micropost.successIds %> </span>
  <span class="problems">Problems: <%= micropost.problemCount %> Problem IDs: <%= micropost.problemIds %> </span>
  
  <span class="content">Message: <%= micropost.content %></span>
  <span class="timestamp">
    Sent at <%= micropost.created_at.strftime("%m/%d/%Y %r") %>.
  </span>
  <%# if current_user?(micropost.user) %>
    <%#= link_to "delete", micropost, method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: micropost.content %>
  <%# end %>
</li>