<% if signed_in? %>
<!--   <table class="table table-bordered table-hover table-condensed" id="microposts" >
 -->    
  <table class="display" id="microposts" >
    <thead>
      <tr>
                        <td>ID</td>
                        <td>IPC</td>
                        <td>LangPref</td>
                        <td>Message</td>
                        <td># Sent</td>
                        <td># Problems</td>
                        <td>Sent IDs</td>
                        <td>Problem IDs</td>
                        
                        <td>Submitted</td>
                        <td>Finished</td>
                </tr>

    </thead>

    <tbody>   

      <% Micropost.all.each do |thismicropost| %>
        <tr>                                     

              <td><%= thismicropost[:id] %></td>  
              <td><%= thismicropost[:ipc] %></td>            
              <td><%= thismicropost[:langpref] %></td> 
              <td><%= thismicropost[:content] %></td>  
              <td><%= thismicropost[:successCount] %></td>              
              <td><%= thismicropost[:problemCount] %></td>              
              <td><%= thismicropost[:successIds] %></td>              
              <td><%= thismicropost[:problemIds] %></td>              
                          
              <td><%= thismicropost[:created_at].strftime("%m/%d/%Y %r") %></td>              
              <td><%= thismicropost[:updated_at].strftime("%m/%d/%Y %r") %></td>              

        </tr>
      <% end %>
    </tbody>
  </table>
<script>
  $(document).ready(function() {
    $('#microposts').dataTable();
  } );

</script>
<% end %>