<% if signed_in? %>
<% @twiliomessages = messagesSent() %>
<h4>Messages Sent (Last 200)</h4>
<table class="table table-bordered table-hover table-condensed" id="messages-sent" >  
 <!--  <table class="display" id="messagessent" > -->
    <thead>
      <tr>
        <td>SID</td>
        <td>Date Created</td>
        <td>Date Updated</td>
        <td>Date Sent</td>
        <td>To</td>
        <td>Message</td>
        <td>Status</td>
      </tr>

    </thead>

    <tbody>   

      <% @twiliomessages.each do |thismessage| %>
        <tr>                                     

              <td><%= thismessage.sid %></td>  
              <td><%= thismessage.date_created %></td> 
              <td><%= thismessage.date_updated %></td> 
              <td><%= thismessage.date_sent %></td> 
              <td><%= thismessage.to %></td> 
              <td><%= thismessage.body %></td> 
              <td><%= thismessage.status %></td> 

        </tr>
      <% end %>
    </tbody>
  </table>
  <script>
  $(document).ready(function() {
    $('#messages-sent').dataTable({
        "aaSorting": [[ 3, "desc" ]],
        "iDisplayLength": 50
    });
  } );

</script>

<% end %>
